@model IEnumerable<SnowBoardReview.Models.Review>
@{
    Layout = "_layout";
}
@using SnowBoardReview.Controllers;



    @foreach (var review in Model)
    {
        <p>Product name: @Html.ActionLink(@review.ProductName, "Details", "Home", new { id = @review.ReviewID }, null)</p>
        <p>product description: @review.ProductDescription</p>
        <p>Category Name: @review.CategoryName</p>
        <hr />
    }

