@model IEnumerable<SnowBoardReview.Models.Review>
@{
    Layout = "_layout";
}
@using SnowBoardReview.Controllers;


<h1>Product Catalog</h1>

@foreach (var review in Model)
{
<p><h2><strong> @Html.ActionLink(@review.ProductName, "Details", "Home", new { id = @review.ReviewID }, null)</strong></h2></p>
    <p>Product Description: @review.ProductDescription</p>
    <p>Category Name: @review.CategoryName</p>
    <hr />
}

